body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
}

.story {
  padding: 0 1em;
  margin: 2em 0;
}

.progress {
  background-color: rgb(34, 191, 149);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 25px;
  top: 0;
  left: 0;
}
